<%- include('layout/header'); -%>

<h1>My articles</h1>

<ul>
    <% articles.forEach(article => { %>
        <a href="<%=article.getId().value%>"><li><%= article.getTitle() %></li></a>
    <% }); %>
</ul>

<a class="btn btn-primary" href="create">New article</a>

<%- include('layout/footer'); -%>